<h3><u>Friend Details:</u></h3>
<div class="group">
  <div>
    <label><b> Name:  </b></label>
    <label>{{friend.name}}</label>
  </div>
  <div>
    <label><b> Email: </b></label>
  <label>{{friend.email}}</label>
  </div>
  <div>
    <label><b> Phone: </b></label>
    <label>{{friend.phone}}</label>
  </div>
  <div>
    <label><b> Gender: </b></label>
    <label>{{friend.gender}}</label>
  </div>
  <div>
    <label><b> Company: </b></label>
    <label>{{friend.company}}</label>
  </div>
</div>
